/**
 * @snippet       Change MainWP Dashboard logo
 * @author        Keith Crain
 * @author_url    https://kronoslabs.io
 * @testedwith    WordPress v6.3
 * @testedwith    MainWP Dashboard v4.5
 *
 * @param         background-image: url('PATH/TO/YOUR/LOGO')!important;
 * @How-to-use    Change the absolute url to the logo you want to use.
 * @Dimentions	  Original MainWP logo dimensions are 72 X 72 ( Image will resize to these dimensions )
 */

/* Hide Original logo */
#mainwp-first-level-navigation #mainwp-navigation-icon { 
	display: none!important;
}

/* Display yours */
#mainwp-first-level-navigation-logo > a { {
	display: block;
	height: 72px !important;
	width: 72px !important;
	background-image: url('PATH/TO/YOUR/LOGO') !important; 
	background-size: contain;
	background-repeat: no-repeat;
}
